body {
	margin:0;
	padding:0;
	font-family:"Helvetica", arial, sans-serif;
}
#map {
	position:absolute;
	left:33%;
	right:0;
	height:100%;
}
#info {
	position:absolute;
	left:0;
	width:33%;
	overflow:auto;
}
#info h1, p, img {
	padding:10px;
}
#alert {
	position:absolute;
	width:100%;
	bottom:0;
	background-color:#b44682;
	text-align:center;
	color:#f6f6f6;
	padding:20px 0;
	font-size:2em;
	font-weight:900;
}