<!DOCTYPE html>
<html lang="en">
  <head>
  <meta name="viewport" content="width=device-width" charset="UTF-8">
  <title>{{ site.name }} {{ page.title }}</title>

  {% for js_name in page.extra_js %}
  <script src="{{ site.baseurl }}/static/{{ js_name }}"></script>
  {% endfor %}

  <link href="{{site.baseurl}}/static/css/style.css" rel="stylesheet">
  {% for css_name in page.extra_css %}
  <link rel="stylesheet" href="{{ site.baseurl }}/static/{{ css_name }}">
  {% endfor %}

  <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  </head>
<body>